<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.dotfiles.tmux-snapshot</string>

  <key>ProgramArguments</key>
  <array>
    <string>__DF_PATH__/toolbox/scripts/tmux-snapshot</string>
    <string>--auto</string>
  </array>

  <key>StartInterval</key>
  <integer>300</integer>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>__HOME__/.dotfiles-local/tmux-snapshot/auto.log</string>

  <key>StandardErrorPath</key>
  <string>__HOME__/.dotfiles-local/tmux-snapshot/auto.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__HOME__/.asdf/shims:__HOME__/.asdf/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
