[Unit]
Description=Periodic tmux snapshot
ConditionPathExists=%h/.dotfiles/toolbox/scripts/tmux-snapshot

[Service]
Type=oneshot
Environment=PATH=%h/.asdf/shims:%h/.asdf:/usr/local/bin:/usr/bin:/bin
ExecStart=%h/.dotfiles/toolbox/scripts/tmux-snapshot --auto
StandardOutput=append:%h/.dotfiles-local/tmux-snapshot/auto.log
StandardError=append:%h/.dotfiles-local/tmux-snapshot/auto.log
