# Sample configuration file for color customizatiom, maybe later
#[urgency_low]
    #background = "#3B4252"
    #foreground = "#E5E9F0"
    #highlight = "#ff0000"

#[urgency_normal]
    #background = "#434C5E"
		#foreground = "#E5E9F0"
    #highlight = "#ff0000"

#[urgency_critical]
    #background = "#ff0000"
		#foreground = "#000000"
    #highlight = "#ff0000"

