:root {
  --olive: #9c6;
  --olive-subtle: #9c64;
  --shadow-alpha: 0.2;
  --bg-toggle-theme: #1d1d1d;
}

[data-theme="dark"] {
  --olive: #562;
  --olive-subtle: #5624;
  --shadow-alpha: 0.4;
  --bg-toggle-theme: #ededed;
}

html {
  /* when jumping to headline by id, ensure the headline
   * has a 3rem offset from top to avoid having it behind
   * the sticky header
   */
  scroll-padding-top: 3rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 1rem;
  transition: background-color 0.15s ease-in-out;
}

.markdown-body {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: 200;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--color-canvas-default);
  padding: 0.5rem 1rem;
  margin: 0 -1rem;

  & > #index {
    font-size: 2rem;
    padding: 0 0.5rem;
    margin-left: -0.5rem;
    line-height: 1.8rem;

    text-align: center;
    transition: background-color 0.15s ease-in-out;
    text-decoration: none;
    color: var(--color-fg-default);
  }

  & > #toggle-theme {
    appearance: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    position: relative;
    background: transparent;
    &::after {
      content: "";
      position: absolute;
      inset: 0.5rem;
      background: var(--bg-toggle-theme);
      border-radius: 50%;
    }
  }
}

body > article {
  margin: 1rem auto;
  max-width: 980px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, var(--shadow-alpha));
  padding: 1rem 2rem;

  &:has(#toolbox) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;

    &:has(ul:first-of-type > li:empty) {
      column-gap: 0;
    }

    & > ul,
    & > h1,
    & > h2 {
      grid-column: auto / -1;
    }

    & ul:first-of-type {
      padding: 0;
      grid-column: 1;
      grid-row: 2;
      display: grid;
      grid-auto-flow: row;
      align-content: start;
      row-gap: 1rem;
      align-self: start;
      position: sticky;
      top: 3rem;

      > li {
        margin: 0;
        list-style-type: none;
        /*TODO*/
        filter: drop-shadow(0 0 1px var(--olive))
          drop-shadow(0 0 3px rgba(0, 0, 0, var(--shadow-alpha)));

        > a {
          padding: 0.5rem 2rem;
          display: block;
          font-size: 1.1rem;
          text-decoration: none;
          color: var(--color-fg-default);
          background: var(--color-canvas-subtle);
          border: 1px solid transparent;
          clip-path: polygon(
            0.8rem 0,
            100% 0,
            100% calc(100% - 0.8rem),
            calc(100% - 0.8rem) 100%,
            0 100%,
            0 0.8rem
          );

          &:hover {
            background: var(--olive);
          }
        }
      }
    }

    & ul:not(:first-of-type) {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      align-items: start;
      gap: 1rem;

      > li {
        margin: 0;
        list-style-type: none;

        > a {
          padding: 0.5rem;
          text-align: center;
          transition: background-color 0.15s ease-in-out;
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, var(--shadow-alpha));
          border: 1px solid var(--olive-subtle);
          display: block;
          font-size: 1.1rem;
          text-decoration: none;
          color: var(--color-fg-default);
          background: var(--color-canvas-subtle);
          border-radius: 0.2rem;

          &:hover {
            background: var(--olive);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body > article {
    max-width: none;
    margin: 0;
    box-shadow: none;
    padding: 0.5rem 1rem;

    &:has(#toolbox) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;

      & ul:first-of-type {
        position: static;
      }
    }
  }
}
