<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#99cc66" />
    <meta
      name="viewport"
      content="user-scalable=yes, initial-scale=1.0, maximum-scale=10.0, width=device-width"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>Toolbox</title>
    <link href="/github.min.css" rel="stylesheet" type="text/css" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker.register("/sw.js");
        });
      }
    </script>
    <script src="/theme.js"></script>
    <style>
      .language-mermaid:not([data-processed="true"]) {
        display: none;
      }
    </style>
  </head>
  <body class="markdown-body">
    <header>
      <a href="/" id="index">&equiv;</a>
      <button type="button" id="toggle-theme" />
    </header>
    <article><%- main %></article>
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
      mermaid.initialize({ startOnLoad: false });
      mermaid.run({
        querySelector: ".language-mermaid",
      });
      addToggleThemeListener("#toggle-theme");
    </script>
  </body>
</html>
